In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_file_1 = "raw_data/schools_complete.csv"
csv_file_2 = "raw_data/students_complete.csv"

In [3]:
schools_data_df= pd.read_csv(csv_file_1)
students_data_df= pd.read_csv(csv_file_2)

In [4]:
schools_data_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
students_data_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [26]:
# Total Schools
# Total Students
# Total Budget
# Average Math Score
# Average Reading Score

total_schools = len(schools_data_df)
total_students = len(students_data_df)
total_budget = schools_data_df["budget"].sum()
average_math_score = round(sum(students_data_df["math_score"])/len(students_data_df["math_score"]),2)
average_reading_score = round(sum(students_data_df["reading_score"])/len(students_data_df["reading_score"]),2)

In [35]:
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
students_data_df["math_passing"]=np.where(students_data_df["math_score"] >= 60,1,0)
students_data_df["reading_passing"]=np.where(students_data_df["reading_score"] >= 60,1,0)
math_passing_rate = round(students_data_df["math_passing"].sum()/total_students,4)*100
reading_passing_rate = round(students_data_df["reading_passing"].sum()/total_students,4)*100
overall_passing_rate = round((students_data_df["math_passing"].sum()+students_data_df["reading_passing"].sum())/(total_students*2),4)*100

In [36]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
district_summary = pd.DataFrame({
    "Total Schools" : [total_students],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[math_passing_rate],
    "% Passing Reading":[reading_passing_rate],
    "Overall Passing Rate":[overall_passing_rate]
})


district_summary = district_summary[["Total Schools","Total Students","Total Budget",
                                     "Average Math Score","Average Reading Score",
                                    "% Passing Math","% Passing Reading","Overall Passing Rate"]]
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,39170,39170,24649428,78.99,81.88,92.45,100.0,96.22

In [37]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)