In [1]:
# load dependency
import pandas as pd

In [2]:
# read in files as data frames
measurement_df = pd.read_csv('hawaii_measurements.csv')
station_df = pd.read_csv('hawaii_stations.csv')

In [3]:
# inspect data frames
measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
# check NaNs in measurement data frame, prcp column
measurement_df['prcp'].value_counts(dropna=False)

 0.00     8185
NaN       1447
 0.01     1198
 0.02      966
 0.03      707
 0.04      483
 0.05      466
 0.06      375
 0.08      312
 0.07      308
 0.10      297
 0.09      230
 0.12      217
 0.13      179
 0.11      179
 0.14      169
 0.15      154
 0.16      139
 0.20      119
 0.17      113
 0.19      112
 0.18      106
 0.22      104
 0.30       88
 0.23       88
 0.21       82
 0.25       79
 0.26       72
 0.24       66
 0.27       60
          ...
 1.86        1
 2.35        1
 4.88        1
 5.96        1
 3.18        1
 2.36        1
 2.47        1
 5.71        1
 3.47        1
 2.37        1
 8.81        1
 3.23        1
 11.53       1
 2.79        1
 3.68        1
 2.81        1
 2.42        1
 4.95        1
 2.96        1
 2.49        1
 5.35        1
 2.63        1
 2.71        1
 3.38        1
 3.03        1
 3.99        1
 3.46        1
 6.83        1
 3.44        1
 4.68        1
Name: prcp, Length: 343, dtype: int64

In [6]:
# fill NaNs with 0
measurement_df['prcp'].fillna(0, inplace=True)

In [7]:
# save data frame to new CSV file
measurement_df.to_csv('clean_hawaii_measurements.csv', index=False)